variable "common_tags" {
  description = "Common tags applied to resources created by this module"
  type        = map(string)
}

variable "name_prefix" {
  description = "Name prefix for resources created by this module"
  type        = string
}
