variable "aws_region" {
  description = "AWS Region for this root module"
  type        = string
}

variable "environment" {
  description = "Deployment environment"
  type        = string
}

variable "project_name" {
  description = "Project name used for naming and tagging"
  type        = string
}
